body 
{
	color: blue;  
	font-family: Arial; margin: 0 auto 0;
	background: #777777;

}

a
{
	text-decoration:  none;
}

.main_header
{
	width: 100%;
	background-color: #ffffff;
	text-align: center;
	border:2px solid #cccccc;
	margin-bottom: 0px;
}

.main_content
{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.content
{
	margin: auto;
	width: 960px;
	margin-bottom: 0px;
	padding-top: 40px;
	padding-bottom: 40px;
}


.header 
{
	margin: auto;
	background-color: #ffffff; 
	height: 100px;
	width: 960px;
	margin-bottom: 0px;
}

.info
{
	line-height: 30px;
}



a
{
	margin-left: 20px;
	margin-right: 0px;
	color: #777777;
}

h1 {
	
	margin-left: 0px;
	font-size: x-large;
	
}

h1.name_box
{
	float: left;
	height: 100px;
	width: 250px;
	line-height: 100px;
	text-align: center;
	background-color:#4aaaa5;
	color: #ffffff;
}

.content-header
{
	height: 100px;
	line-height: 100px;
	text-align: left;
	color: #4aaaa5;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 2px solid #cccccc;
	font-size: x-large;
}
.navbar
{
	float: right;
	margin-right: 0px;
	height: 100px;
	width: 270px;
	line-height: 100px;
	text-align: center;
}

h3 {
	float: right;
	font-size: x-small;
	margin-right: 250px;
	color:#4aaaa5;
}

aside 
{
 	background: white; 
 	padding: 10px; 
 	text-align: center; 
 	float: right; 
 	width: 270px;
 	height: 230px;
 	color: #4aaaa5
 }

 .icons {
 padding-top: 40px;
  border-top: 1px solid #cccccc;
   
}
section 
{   
	clear: both;
 	background: white; 
 	text-align: left; 
 	padding: 10px; 
 	width: 650px; 
 	float: left; 
 	margin-bottom: 10px;

}


.left {
	float: left;
	margin-left: 20px;
	height: 150px;
	padding-right: 20px;
	margin-top: 20px;
}


#p1 {
	order: 1;
	margin-top: 20px;
	margin-right: 20px;
	font-size: smaller;
	overflow:auto;
	display: block;
	text-align: left;
	margin-left: 20px;
	color: #777777;
	line-height: 18px;
}	

#p2 {
	order: 2;
	clear: both;
	margin-top: 20px;
	margin-right: 20px;
	font-size: smaller;
	margin-bottom: 20px;
	text-align: left;
	margin-left: 20px;
	color: #777777;
	line-height: 18px;
}



footer 
{   clear : both;
	background: #666666; 
	color: #ffffff;
	text-align: center; 
	padding: 20px;
	height: 100px;
	width: 100%;
	position: fixed;
	bottom: 0;
	margin-top: 20px;
	border-top: 5px solid #4aaaa5;
}

.copyright
{
	position: fixed;
	bottom: 10px;
	text-align: center;
	width: 100%;
}

div.portfolio
{
	width:100%;
	align-items: center;
	padding: 20px;
}

img.portfolio
{
	margin: 20px;
}


.label
{
	top: -50px; 
	width: 250px;
	line-height: 40px;
	text-align: center;
	position: relative;
	background-color: #4aaaa5;
	color: #ffffff;
}

ul
{
	padding: 20px;
}

li
{
	margin-bottom: 10px;
	color: #777777;
}

button
{
	margin-left: 20px;
	background-color: #4aaaa5;
	color: #ffffff;
	height: 25px;
}

.my_image {
	width: 150px;

}

* {box-sizing: border-box;}

@media screen and ( min-width:769px) and (max-width: 980px) {
	
	.left{
		float: none;
	}
    
	section
	{
		width: 459px;
	}

	.content
	{
		width: 769px;
	}

	.header
	{
		width: 769px;
	}

	.portfolio div
	{
		float: none !important;
		width: 100% !important;
	}
}
	@media screen and  (max-width: 640px) {
		
        .navbar {
        	float: none;
        	width: 100%;
         	height: 50px;
         	line-height: 50px;
        
         }
         h1.name_box {
         	float: none;
         	width: 100%;
         	height: 50px;
         	line-height: 50px;
         	
         }
        
        .header{
        	width: 100%;
        	height: auto;
        }

        .content{
        	width: 95%;
        }

        .left{
		float: none;
		}



         section {width: 100%; 
         	float:none;
         	margin: 20px 0;
         }
         aside {width: 100%;
          float: none;
          margin: 0;
         }
         .portfolio div{
		width: 100% !important;
		float: none !important;
		margin: 0 auto 0;
	     }
  
       }          
        @media screen and (min-width: 641px) and (max-width: 768px) { 
       
         .content{
        	width: 641px;
        }

        .header
		{
			width: 641px;
		}

         section 
         {
         	width: 100%; 
         	clear: both;
         	float:none;
         	height: 750px;
         	margin: 20px 0;
         }
         aside 
         {
         	clear: both;
         	width: 100%;
          	float: none;
          	margin: 0;
         }

         .portfolio div{

	     }
         
	}

    



	







